body, html {
  padding: 0;
  margin: 0;
}

header {
  border: 1px solid lightgray;
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

/**FILTER****/

.filterWrapper {

  border: 1px solid lightgray;
  width: 70%;
  margin: 0 auto;
  text-align: center;
  min-height: 100px;


}

.checkBoxDiv {
  border: 1px solid black;
}

.checkBoxDiv ul {
  padding: 0;
  display: flex;
}

.checkBoxDiv ul li {
  list-style-type: none;
  margin: 0 5px;
}

/***HOTELCOMP***/

.hotelDiv {
  border: 1px solid lightgray;
  width: 70%;
  margin: 0 auto;
  display: flex;
}

.hotelDesc ul {
  padding: 10px;
}

.hotelDesc ul li {
  list-style-type: none;
  margin: 10px 0;
}